<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Branden, LG, and Derrick. We used Weather Stack API to get weather forecast and MapBox to get location data(the longitude and latitude).</p>
        <p>{{aboutText}} Plus online sources to help push our code to Github as a save point and then have that save point pushed to Heroku to be accessable by anyone. </p>
        
        
        
    <img src="/img/rew.png">
    <img src="/img/lg.png">
    <img src="/img/snoop.png">
       

    </div>
    
    {{>footer}}
</body>

</html>